/**CSS Start**/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,700italic);

html, body, ul, li, p, a , h1, h2, h3, h4, h5, h6, div, header, section, span, hgroup, img, center, footer{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: normal;
}

small {
	font-style:italic;
	margin: 0;
	padding: 0;
}

table {
	color: #353535; 
	width: 100%; 
	text-align: left; 
	border-collapse: collapse; 
	border: none;
}

ul, ol, li {list-style-type: none;}

.clear {
	width: inherit;
	height: 1px;
	clear: both;
}

a {text-decoration: none;}

body {
	width: 100%;
	-webkit-font-smoothing: antialiased;
    font-smoothing: anti-aliased;
	background: url(../images/footbook-bg.jpg) no-repeat; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper {
	padding: 0;
	margin: 0;
	width: inherit;
}

/**top**/

#top {
	width: inherit;
	margin: 0;
	padding: 0;
	text-align: center
}

#top .logo{
	margin: 2px 0 0 0;
	padding: 0;
	width: 500px;
	height: auto;
}

#top .rightside{
	float: right;
	margin: 0 75px 0 0;
}

#top2 .clear, #top3 .clear { 
	clear: both;
	height: 1px;
	width: inherit;
}

#top2 {
	min-width: 70%;
	max-width: 98%;
	margin: 0 auto;
	padding: 0;
}

#top3  .inner {
	min-width: 70%;
	max-width: 80%;
	margin: 0 auto;
	padding: 0;
}

#top3 {
	width:inherit;
	margin: 0 auto;
	padding: 0;
	background: url(../images/footbook-bg.jpg) no-repeat; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	box-shadow: inset 0 -3px 0 0 rgba(10, 68, 54, .5);
}

#top2 > .logo{
	padding: 0 ;
	width: 270px;
	height:auto;
	float: left;
}

#top3 .inner > .logo{
	padding: 0;
	margin: 5px 0 12px 0;
	width: 190px;
	height:auto;
	float: left;
}

#top2 .rightside, #top3 .rightside {
	float: right;
	margin: 0;
}

.subnav {
	float:right;
	margin: 10px 0 0 0;
	font-size: 14px;
}

.subnav li{
	display: inline-block;
	margin: 0 0 0 10px;
	cursor: text;
}

.subnav li, .subnav a{
	color: #695335!important;
}

.subnav a:hover{
	color: orange!important;
}

.subnav a.active{
	color: orange!important;
	text-decoration: underline;
	font-weight: 900;
}

/**dropdown**/

#top .user {
	float: left;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
}

#top .user li{
	display: inline-block;
	vertical-align: middle;
}

/*.notify {
	padding: 0;
	margin: 0;
}

.notify img{
	width: 20px;
	height: 20px;
}

.notify:hover {
	opacity: .5;
}*/

.account {
	cursor: pointer; 
	padding: 6px 45px 12px 20px; 
	margin: 0; 
	background: #ff0000 url(../images/bg-gray.png) no-repeat right; 
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px; 
	-khtml-border-radius: 0 0 4px 4px; 
	-webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.35);
	box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.35);
	outline: none;
}

.account:hover {
	background: #b20000 url(../images/bg-gray.png) no-repeat right;
}

/*Initialize*/
ul.user, ul.user ul.sub {
    padding:0;
    margin: 0;
}
ul.user li, ul.user ul.sub li {
    list-style-type: none;
    display: inline-block;
}

.sub li:first-child {padding: 0; margin: 0 0 -3px 0;}
/*Link Appearance*/
ul.user li a, ul.user li ul.sub li a {
    text-decoration: none;
    color: #787878 !important;
    background: #fff;
    padding: 10px 0 10px 10px;
	margin: 0;
    display:inline-block;
	width: 130px;
	font-size: 14px;
}

ul.user li ul.sub li a:hover {
    color: orange !important;
}
/*Make the parent of sub-menu relative*/
ul.user li {
    position: relative;
}

/*sub menu*/
ul.user li ul.sub {
    display:none;
    position: absolute;
    top: 35px;
    left: 5px;
    width: 130px;
}

ul.user li:hover ul.sub {
    display:block;
	z-index:1;
	color: orange;
}

.triangle{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	content: "";
	margin: 0 0 0 10px;
	padding: 0;
}

/**Sign-in**/

.signincontent { 
	width: 390px;
	margin: 20px auto;
	padding: 0 0 20px 0;
	display: block;
	background: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-khtml-border-radius: 4px; 
}

.signincontent .header{
	margin: 0;
	padding: 19px 0 10px 6%;
	border-bottom: 1px solid #866a5e;
	line-height: 24px;
}

.signincontent .header h1, .signincontent .welcome h1{
	font-size: 30px;
	font-weight: 700;
}

.signincontent .header > span{
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.signincontent .clear{ 
	clear: both;
	height: 10px;
	width: 1px;
}

.signincontent .signinform { 
	margin: 25px auto 0 auto; 
	padding: 0;
	width: 88%;
	display: block;
}

.signincontent a{
	font-size: 16px;
}

.signincontent a:hover{
	color: orange;
}

.signincontent input[type="text"], .signincontent input[type="password"]{ 
	width: 98%; 
	height: 30px;
	margin: 0 0 3px 0; 
	padding: 0 0 0 5px; 
	outline: none;
	border: 1px solid #b4c1c8;
}

.signincontent input[type="text"]:focus, .signincontent input[type="password"]:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

.right {	float: right;}

.right a {display: inline-block; vertical-align: middle!important; margin : 0 5px 0 0;}

.right >.signinbutton { 
	margin:10px 0 0 0;
	font-size: 16px; 
	font-weight: 700;
	padding: 4px 30px 8px 30px; 
	display: block;
	text-align: center;
	text-transform: uppercase;
	background: #ff6b00; 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	-khtml-border-radius: 2px; 
	letter-spacing: 1; 
	color: white; 
	border: none;
	display: inline-block; 
	-webkit-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.65);
	box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.65);
	outline: none;
}

.right > .signinbutton:hover { 
	background-color: #e27b00;
}

.forgot{ 
	padding: 0; 
	margin: 15px 0 0 0;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1; 
}

.forgot a{ 
	font-size: 16px;
	text-decoration: underline;
}

.forgot a:hover { 
	color: orange;
}

.divider { 
	text-align: center;
	margin: 20px auto;
	width: inherit;
	border-bottom: 1px solid #44523c;
}

.welcome {
	margin: 0;
	padding: 10px 0 10px;
	line-height: 14px;
}


.signincontent .admin { 
	color: #fff;
	padding: 0;
	margin: 20px auto;
	text-align: center;
	font: normal 20px miso-regular-webfont;
	text-decoration: none;
	width: 296px;
	height: 40px;
	display: block;
	text-align: center;
	border: none;
	background: #00aeef;
	background-color: #ff5400;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-khtml-border-radius: 5px; 
	letter-spacing: 1; 
	text-shadow: 1.5px 1.5px rgba(0, 0, 0, .5); 
	border: none;
}

.signincontent .admin:hover { 
	background: #00aeef;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	border: none;
}

.signincontent .admin:active { 
	color: #8f0000;
	text-shadow: none;
	background-color: red;
}

/**admin**/
.content {
	padding: 0;
	margin: 0 auto;
	min-width: 70%;
	max-width: 98%;
}

.A-side {
	float: left;
	width: 62%;
}

.A-side li{
	display: inline-block;
	text-align: center;
	width: 85px;
	margin: 30px 30px 20px 30px;
	padding: 0;
	vertical-align: top;
	cursor: default;
}

.A-side li:hover img{
	opacity: .5;
}

.A-side li:hover span{
	color: orange;
	opacity: 1;
}

.A-side  span{
	margin: 5px 0 0 0;
	display: block;
	font-weight: 700;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.45);
}

.B-side {
	float: right;
}

.B-side .search{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-khtml-border-radius: 4px; 
	background: rgba(10, 68, 54, 0.5);
	padding: 10px;
}

.B-side input[type="search"] {
	padding: 0 0 0 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-khtml-border-radius: 3px; 
	outline: none;
	border: 1px solid #b4c1c8;
	background: #fff url(../images/search.png) no-repeat left;
	width: 100%;
	height: 35px;
	font-size: 18px;
}

.B-side .adminbox {
	background: rgba(10, 68, 54, 0.5);
	width: 375px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-khtml-border-radius: 3px; 
	margin: 20px 0 0 0;
	padding: 20px 0;
}

.B-side .adminbox img, .B-side .adminbox hgroup{
	display: inline-block;
	vertical-align: middle;
}

.B-side .adminbox hgroup{
	font-size: 18px;
	font-weight: 700;
}

.B-side .adminbox hgroup > span{
	font-weight: normal;
}

.B-side .adminbox img{
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px; 
	-khtml-border-radius: 200px; 
	margin: 0 10px;
}

/**footer**/

footer {
	width:inherit;
	height: 50px;
	position:absolute;
	bottom:0;
	left:0;
	color: #787878;
	background: rgba(154, 41, 0, 0.7);
	font-size: 12px;
	color: white;
}

footer .copyright {
	min-width: 70%;
	max-width: 98%;
	margin: 0px auto 0 auto;
	padding: 0px;
}

footer .copyright p{
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
}

footer .copyright ul {
	margin: 20px 0 0 0;
	padding: 0;
	float: right;
}

footer .copyright li {
	display: inline;
	margin: 0 2px 0 2px;
}

footer .copyright a:hover {
	color: orange;
}
