#osk-container
  bottom: 0
  top: auto !important
  left: 50% !important
  width: 900px
  margin-left: -450px
  border-radius: 10px 10px 0 0 !important
  z-index: 10000
  > li
    border-radius: 8px !important
    border-bottom: 4px solid #2C2C2C
    background-color: #545454 !important
    color: #fff
    font-size: 1.25em
    position: relative
    &:hover
      top: 0 !important
    &:active
      top: 4px !important
      border-bottom: 0

