.main
  overflow: hidden
  .btn
    border-radius: 8px
    border-bottom-width: 5px
    &:active
      top: 5px

.main-tools
  margin-top: 16px
  div, p
    display: inline-block
  .btn-undo
  .btn-redo
    background: #FF6B00 url('images/icon-undo.svg') no-repeat 10px center
    padding-left: 40px
    background-size: 20px
    height: 40px
    overflow: hidden
  .btn-redo
    background-image: url('images/icon-redo.svg')
  .btn-zoom-in
  .btn-zoom-out
    background: #FF6B00 url('images/icon-zoom-in.svg') no-repeat center center
    background-size: 55%
    width: 40px
    height: 40px
    text-indent: -9999px
    overflow: hidden
  .btn-zoom-out
    background-image: url('images/icon-zoom-out.svg')
  .btn-save
    float: right
    padding-left: 2em
    padding-right: 2em

.main-tools-zoom
  margin: 0 1.5em
  p
    position: relative
    color: #86412A
    top: -20px
    margin: 0 0.25em

.main-place-accessory
  position: absolute
  z-index: 30
  bottom: 20px
  left: 50%
  display: none
  h2
    color: #fff
    font-weight: 300
    position: absolute
    right: 340px
    top: 120px
  .btn
    font-size: 1.25em
    min-width: 110px

.main-show
  width: 82%
  height: 1000px
  float: left
  position: relative
  z-index: 20

.main-show-left, .main-show-right
  height: 1000px

.main-other
  width: 18%
  padding-left: 1em
  padding-top: 1em
  float: left

.main-checkout
  background-color: #fff
  border-radius: 12px
  text-align: right
  width: 100%
  padding: 0.35em
  padding-top: 0.5em
  box-sizing: border-box
  margin-top: 250px
  p
    font-size: 0.7em
    color: #636466
    margin: 0
    padding: 0.5em 0
    b
      font-size: 1.5em
      font-weight: normal
  .btn
    width: 100%
    padding: 1em 0
    text-align: center
    margin: 0
    &:active
      top: 4px !important

.main-show
  text-align: center

.main-view
  div
    position: relative
    height: 80px
    width: 100%
    border-radius: 12px
    margin-bottom: 0.5em
    background-color: #fff
    cursor: pointer
    &:hover, &.active
      border: 3px solid #86412A
    svg
      width: 85%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)


