.page-start
  putek: blue
  z-index: 1000
  background: #0078CB url('images/home-bg.svg')
  background-size: 3%
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  text-align: center
  color: #fff
  h1
    margin: 1em 0
  h2
    font-family: Lato
    font-weight: 300
    font-size: 3em
    margin: 0
    margin-top: -0.5em
  a
    background: url('images/home-slipper1.svg') no-repeat
    background-position: 100% bottom
    background-size: 85%
    display: block
    width: 100%
    margin: 0 auto
    height: 100%
    transition: all 500ms ease
    position: absolute
    top: 0
    &:active
      top: 3em

  p
    color: #0078CB
    font-weight: 900
    text-decoration: none
    text-transform: uppercase
    font-size: 1.5em
    position: absolute
    bottom: 30%
    left: 50%
    transform: translateX(-50%)
    z-index: 1000
    text-align: center
    margin: 0 auto

