.popup
  position: absolute
  min-height: 450px
  width = 800px
  width: width
  margin-left: -(width/2)
  left: 50%
  top: 8em
  background-color: #fff
  border-radius: 10px
  padding: 1em
  z-index: 10000
  visibility: hidden
  opacity: 0
  transition: all 400ms ease
  transform: translateY(-10%)
  &.active
    display: block
    visibility: visible
    opacity: 1
    transform: translateY(0)

.popup-get-ticket
  padding-top: 5em
  text-align: center
  p
    font-size: 1.5em
    color: #58595B
  img
    max-width: 170px
  .btn
    padding: 0.75em 1em
    min-width: 160px
    font-size: 1.25em
    border-radius: 10px
    border-bottom-width: 6px

.popup-checkout
  &-left
    col(2/3)
    padding-top: 2em
  &-right
    col(1/3)
  .btn
    border-radius: 10px
    border-bottom-width: 6px
    padding: 0.5em 1em
    font-size: 1.05em
  .btn-share
    padding-left: 40px
    margin-top: 1em

  h2
    font-size: 1.1em

  table
    width: 100%
    border-bottom: 1px solid #000
    border-collapse: collapse
    th
      font-size: 0.6em
      border-bottom: 1px solid #000
      text-transform: uppercase
      text-align: left
      &:last-child
        text-align: right

    td
      font-size: 0.9em
      padding: 0.25em 0
      border-bottom: 1px dotted rgba(#000, 0.1)
      &:last-child
        text-align: right

  &-subtotal
    border-bottom: none !important
    margin: 0.5em 0
    td
      font-size: 0.6em !important
      border-bottom: none !important
      text-align: right
      text-transform: uppercase
      &:last-child
        font-size: 1em !important
        color: #39B54A
  &-grandtotal
    margin-top: 2em
    border-bottom: none !important
    td
      input
        width: 35px
    tr:last-child
      td
        border-bottom: none !important
      td:first-child
        font-size: 0.6em !important
        border-bottom: none !important
        text-align: right
        text-transform: uppercase
    td:last-child
      font-size: 0.2em
      text-align: right
      &:last-child
        font-size: 1em !important
        color: #39B54A

  .btn-checkout-final
    padding: 1em 1.5em
    float: right
    margin-top: 4em

.popup-signin
  min-height: 120px
  padding: 0.25em 1em
  > div
    float: left
    padding: 0 5px
  input
    box-sizing: border-box
    width: 90%
    border: none
    border: 1px solid rgba(#000, 0.2)
    border-radius: 3px
    padding: 0.5em 1em
  .btn:active
    top: 3px !important

.popup-accessory
  text-align: center
  width = 450px
  width: width
  margin-left: -(width/2)
  h2
    font-weight: 300
    font-size: 1.75em
  img
    max-width: 180px
  p
    color: darken(grey, 50%)
  .btn
    padding: 1em 1.5em
    font-size: 1em
    border-radius: 8px
    border-bottom-width: 6px
    margin: 0 0.5em
    &:active
      top: 6px


