.theme-industrial
  .page-creator
    background: #5A5A5A

  .logo h2
    color: #D1D3D4

  .options
    h3
      color: #D1D3D4
    .wrap
      background-color: #403D3C

  .options-header
    li
      a
        background-color: #5A5A5A
        border-color: #2D2A2A
        &:after
          border-top-color: #5A5A5A


  .options-group
    background-color: #7A7877
    padding-left: 12px
    padding-top: 4px
    position: relative
    top: -1px
    .item
      background-color: #fff
      display: inline-block
      height: 38px
      width: 38px
      margin: 1px
      border-radius: 10px
      text-indent: -9999px
      overflow: hidden
      cursor: pointer

  .owl-controls
    .owl-prev
    .owl-next
      background: #2D2A2A url('images/icon-arrow-left.svg') no-repeat center center !important
      background-size: 9px !important
      border-bottom: 5px solid #191516
    .owl-next
      left: auto
      right: -1.5em
      border-radius: 0 12px 12px 0 !important
      background-image: url('images/icon-arrow-right.svg') !important

  .main-checkout
    background-color: #2D2A2A
    padding: 0.5em

  .main-view div
    background-color: #2D2A2A
    border-color: #fff

  .main .btn-orange
    background-color: #2D2A2A
    border-color: #191516
  .main p
    color: #fff

