.theme-summer
  .page-creator
    background: url('images/themes/1.jpg') no-repeat
    background-size: cover
    position: relative
.theme-baseball
  .page-creator
    background: url('images/themes/2.jpg') no-repeat
    background-size: cover
.theme-blue
  .page-creator
    background: url('images/themes/3.jpg') no-repeat
    background-size: cover
